<!DOCTYPE html>
<html><head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<link href="/main.css" rel="stylesheet" type="text/css" >
		<meta name="author" content="Бобук" >
		<meta name="description" content="Бобук Еще один линкблог, add me to cc" >
		<meta name="viewport" content="width=device-width, initial-scale=1;" >
		<meta name="apple-mobile-web-app-capable" content="yes" >
		<meta name="ROBOTS" content="INDEX,FOLLOW" >
		<meta http-equiv="X-UA-Compatible" content="IE=edge" >
		<meta charset="UTF-8" >
		<link rel="shortcut icon" href="/favicon.ico" >
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://addmeto.cc/feed" >
		<link href="http://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic" rel="stylesheet" type="text/css" >
		<title>{{ title }}</title>

        <meta name="kittycheck_site_uniq_id" content="addmeto-cc-{{ page }}" />
        <meta name="kittycheck_position" content="top=30,right=30" />
        <meta name="kittycheck_checkin_color" content="#ababab" />
        <meta name="kittycheck_rumble" content="true" />

        <script src="http://kittycheck.com/js/inject.js?1"></script>
	</head>
	<body style="" >
<script type="text/javascript" >
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f7abaee613f5d1ea500007d');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();

</script>
<header><span id="headertext" ><a href="/" >Еще один линкблог<span style="font-size:9pt; position:relative; top:-9px; left:2px; " >™</span></a><nav><ul><li><a href="/archive" >Архив</a></li><li><a href="/feed" >RSS</a></li></ul></nav></span></header><article id="blarticle" >
<a href="{{ permalink }}" style="color:#000000; " ><h1>{{ title }}</h1></a>
        <ul>
        {{#items }}
            <li><a href="{{ fname }}">{{ subtitle }}</a></li>
        {{/items }}
        </ul>
</article>
</body></html>
