<!DOCTYPE html>
<html><head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<link href="/main.css" rel="stylesheet" type="text/css" >
		<meta name="author" content="Бобук" >
		<meta name="description" content="Бобук Еще один линкблог, add me to cc" >
		<meta name="viewport" content="width=device-width, initial-scale=1;" >
		<meta name="apple-mobile-web-app-capable" content="yes" >
		<meta name="ROBOTS" content="INDEX,FOLLOW" >
		<meta http-equiv="X-UA-Compatible" content="IE=edge" >
		<meta charset="UTF-8" >
		<link rel="shortcut icon" href="/favicon.ico" >
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://addmeto.cc/feed" >
		<link href="http://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic" rel="stylesheet" type="text/css" >
		<title>{{ title }}</title>

        <meta name="kittycheck_site_uniq_id" content="addmeto-cc-{{ page }}" />
        <meta name="kittycheck_position" content="top=30,right=30" />
        <meta name="kittycheck_checkin_color" content="#ababab" />
        <meta name="kittycheck_rumble" content="true" />

        <script src="http://kittycheck.com/js/inject.js?1"></script>
	</head>
	<body style="" >
<script type="text/javascript" >
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f7abaee613f5d1ea500007d');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();

</script>
<header><span id="headertext" ><a href="/" >Еще один линкблог<span style="font-size:9pt; position:relative; top:-9px; left:2px; " >™</span></a><nav><ul><li><a href="/archive" >Архив</a></li><li><a href="/feed" >RSS</a></li></ul></nav></span></header><article id="blarticle" >
<a href="{{ permalink }}" style="color:#000000; " ><h1>{{ title }}</h1></a>
        <ul>
        {{#items }}
            <li><a href="{{ fname }}">{{ subtitle }}</a></li>
        {{/items }}
        </ul>
        </article>
<div id="committers" ><a href="https://github.com/bobuk/addmeto.cc/blob/master/source/posts/{{ page }}.md" >ЗаGitHubить!</a> {{{ committers }}}</div>
<hr/>
<div style="margin-bottom:2em; " ><a href="{{ permalink }}" style="font-size:1.6em; font-family:Philosopher; margin-right:2em; color:#000000; " ># постоянная ссылка</a>
    <iframe style="vertical-align:bottom;"  frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?uid=4100130214808&button-text=05&button-size=s&button-color=black&targets=%d0%9d%d0%b0+%d0%bf%d0%be%d0%b4%d0%b4%d0%b5%d1%80%d0%b6%d0%ba%d1%83+addmeto.cc&default-sum=100" width="auto" height="31" ></iframe>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ permalink }}" data-text="{{ title }}" data-via="bobuk">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!-- START: Livefyre Embed -->
<script type='text/javascript' src='http://zor.livefyre.com/wjs/v1.0/javascripts/livefyre_init.js'></script>
<script type='text/javascript'>
    var fyre = LF({
        article_id: '{{ permalink }}',
        site_id: 299986
    });
</script>
<!-- END: Livefyre Embed -->
</body></html>
