<!DOCTYPE html>
<html><head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<link href="/main.css" rel="stylesheet" type="text/css" >
		<meta name="author" content="Бобук" >
		<meta name="description" content="Бобук Еще один линкблог, add me to cc" >
		<meta name="viewport" content="width=device-width; initial-scale=0.9;" >
		<meta name="apple-mobile-web-app-capable" content="yes" >
		<meta name="ROBOTS" content="INDEX,FOLLOW" >
		<meta http-equiv="X-UA-Compatible" content="IE=edge" >
		<meta charset="UTF-8" >
		<meta name="readability-verification" content="DkDbzH96dNN93UTFfSupAnevtJaKPEUb22GeA3EZ" >
		<link rel="shortcut icon" href="/favicon.ico" >
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://addmeto.cc/feed" >
		<link href="http://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic" rel="stylesheet" type="text/css" >
		<title>{{ title }}</title>
		<script type="text/javascript" async="" id="gauges-tracker" data-site-id="4f7abaee613f5d1ea500007d" src="//secure.gaug.es/track.js" ></script>
	</head>
	<body style="" >
<script type="text/javascript" >
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f7abaee613f5d1ea500007d');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
<header><span id="headertext" ><a href="/" >Еще один линкблог<span style="font-size:9pt; position:relative; top:-9px; left:2px; " >™</span></a><nav><ul><li><a href="/archive" >Архив</a></li><li><a href="/feed" >RSS</a></li></ul></nav></span><img alt="" src="/images/Black-cat.png" id="kitty" ></header><article id="blarticle" >
<h1>{{ title }}</h1>{{& content }}</article>
<div style="margin-bottom:2em; " >
<a href="http://flattr.com/thing/619239/" target="_blank" >
<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" ></a>
<iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?uid=4100130214808&button-text=05&button-size=s&button-color=black&targets=%d0%9d%d0%b0+%d0%bf%d0%be%d0%b4%d0%b4%d0%b5%d1%80%d0%b6%d0%ba%d1%83+addmeto.cc&default-sum=100" width="auto" height="31" ></iframe></div>
<div id="hypercomments_widget" ></div>
<script type="text/javascript" >
  _hcp = {};
  _hcp.widget_id = 659;_hcp.widget = "Stream";_hcp.lang='ru';_hcp.xid = '{{ permalink }}';
(function() { 
var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://widget.hypercomments.com/apps/js/hc.js";
var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hcc, s.nextSibling); 
})();
</script>
</body></html>