<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Бобук Еще один линкблог, add me to cc!" >
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/style.css">
	<script src="/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>

    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://addmeto.cc/feed" >
    <link href="http://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic" rel="stylesheet" type="text/css" >
    <title>{{ title }}</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>

    <meta name="kittycheck_site_uniq_id" content="addmeto-cc-{{ page }}" />
    <meta name="kittycheck_position" content="top=60,right=30" />
    <meta name="kittycheck_checkin_color" content="#ababab" />
    <meta name="kittycheck_rumble" content="true" />
    <script src="http://kittycheck.com/js/inject.js?1"></script>

</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> to experience this site.</p><![endif]-->
<script type="text/javascript" >
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f7abaee613f5d1ea500007d');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Еще один линкблог</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Сегодня</a></li>
              <li><a href="/archive">Архив</a></li>
              <li class="active"><a href="/rules.html">О проекте</a></li>
              <li><a href="/feed">RSS</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_floating_style addthis_32x32_style" style="left:30px;top:80px;">
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_vk"></a>
<a class="addthis_button_email"></a>
<a class="addthis_button_compact"></a>
</div>
<script type="text/javascript">
    var addthis_share = {
        url: '{{ permalink }}',
        templates: {
            twitter: 'В блоге @bobuk сегодня "{{ title }}" {{ permalink }}',
        }
    }
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fde352912ffa6c6"></script>
<script>
if ($(document).width() < 1000) {
    $('.addthis_toolbox').hide()
}
</script>
<!-- AddThis Button END -->
    <div class="container">
      <article>
        <a href="{{ permalink }}" style="color:#000000; " ><h1>{{ title }}</h1></a>
        {{& content }}
      </article>

      <hr>
<table id="committers" ><tr><td><a href="https://github.com/bobuk/addmeto.cc/blob/master/{{#conf}}{{#local}}{{section}}{{/local}}{{/conf}}{{ page }}.md" class="btn" style="height: 19px; margin-bottom: 2px;">ЗаGitHubить!</a></td><td><iframe allowtransparency="true" src="https://money.yandex.ru/embed/small.xml?uid=4100130214808&amp;button-text=01&amp;button-size=s&amp;button-color=white&amp;targets=%d0%a1%d0%bf%d0%b0%d1%81%d0%b8%d0%b1%d0%be&amp;default-sum=100&amp;mail=on" frameborder="0" height="31" scrolling="no" width="130" style="display:table-cell;vertical-align:bottom;"></iframe></td></tr></table>
<div id="hypercomments_widget"></div><script type="text/javascript">
var _hcp = _hcp || {};
_hcp.widget_id = 659;_hcp.widget = "Stream";_hcp.lang='ru';_hcp.xid = '{{ permalink }}';
(function() {
var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://widget.hypercomments.com/apps/js/hc.js";
var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hcc, s.nextSibling);
})();</script>

      <footer>
        <p>&copy; Григорий Бакунов 2012</p>
      </footer>

    </div> <!-- /container -->
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.js"><\/script>')</script>

<script src="/js/libs/bootstrap/bootstrap.min.js"></script>

<script src="/js/script.js"></script>
</body>
</html>
