<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Бобук :: @title@</title>

  <!-- CSS  -->
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Бобук</a>
      <ul class="right">
        <li><a href="http://twitter.com/bobuk">@bobuk</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
  <div class="container">

    <h1 class="instapaper_title titles"><a href="/pages/@file@" >@title@</a></h1>
    <article class="instapaper_body">
        @text@
    </article>

    <div class="row">
        <div class="col s10">
                <a href="https://coinbase.com/checkouts/8aa47b1d7cdbb1aa7aecac3186c98773" target="_blank" class="btn">заБиткойнь</a>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=bobuk%40justos%2eorg&lc=RU&item_name=addmeto%2ecc&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" class="btn" target="_blank">заPayPalь</a>
                <a href="#" data-reveal-id="myModal" class="btn">Я.Деньгуй</a>
        </div>
        <div class="col s2">
            <a href="https://github.com/bobuk/addmeto.cc/blob/master/pages/@file@.md" class="btn">ЗаGitHubить!</a>
        </div>
    </div>
  </div>

  <!--  Scripts-->
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/materialize.js"></script>
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter18771010 = new Ya.Metrika({id:18771010, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/18771010" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

  </body>
</html>
