body {
	width:890px;
	margin:auto;
	padding:30px;
}

h1, h2, h3 {
	font-family:serif;
}

header {
	border-bottom:1px solid #EEEEEE;
}

header a {
	color:#000000;
	text-decoration:none;
}

header a:hover {
	color:#999999;
}

nav {
	color:#999999;
	font-family:serif;
	font-size:12px;
	display:inline;
	padding-left:2em;
}

nav a {
	color:#740103;
	text-decoration:none;
}

nav ul {
	list-style-type:circle;
	display:inline;
}

nav li {
	display:inline;
	padding-right:2em;
}

#headertext {
	font-family:Philosopher, Georgia, serif;
	font-size:2.5em;
}

#blarticle {
	font-family: HelveticaNeue, Helvetica, sans-serif;
	text-indent:2px;
	text-align:justify;
	padding-top:2em;
	line-height:1.6em;
	margin-bottom:4px;
}

#blarticle small {
	font-size:9px;
	color:#BBBBBB;
}

#blarticle img {
	float:right;
	clear:left;
	margin-left:1.5em;
}

#blarticle h1 {
	font-weight:normal;
	font-size:2em;
	margin-bottom:2em;
	font-family:Philosopher, sans-serif;
}

#blarticle h2, #blarticle h3 {
	color:#999999;
	font-weight:normal;
	font-family:Philosopher, sans-serif;
	margin-top:2em;
	margin-bottom:1.5px;
}

#committers {
	font-size:1.6em;
	font-family:Philosopher;
    margin-bottom: 1em;
}

.committer {
	margin-left:1em;
	vertical-align:middle;
}

#committers a {
	color:#000000;
	text-decoration:none;
}

#committers a:visited {
	color:#000000;
}

#blarticle a {
	color:#740103;
	text-decoration:none;
}

#blarticle a:hover {
	border-bottom:1px solid #333333;
}

#blarticle ul li {
	padding-bottom:0.5em;
	list-style-type:hebrew;
}

#hypercomments_widget {
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;

/* LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET */

@media (max-width: 780px) {

	/* Padding to set content in a bit */
	body {
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	header {
		position: relative; /* for kitty */
	}

	#headertext {
		font-size:1.95em;
		display: block;
	}

	#headertext>a {
		display: block;
	}

	nav {
		font-size:0.5em;
		padding-left:0;
	}

	nav li {
		padding-right: 1em;
	}

	/* make nav link bigger for fingers */
	nav li a {
		display: inline-block;
		height:50px;
		line-height:50px;
	}

	#blarticle {
		padding-top: 0;
	}

	#blarticle h1 {
		font-size: 1.5em;
		margin-bottom: 1em;
	}

	/* scale and center article graphics */
	#blarticle img {
		max-width: 100%;
		display: block;
		clear: both;
		float: none;
		margin: 1.25em auto;
	}

	#blarticle h2, #blarticle h3 {
		margin-top: 1.5em
	}

	#blarticle ul {
		padding-left: 1.5em;
	}

	.kittycheck-cat {
		top: -50px; /* kitty is lying on hr */
	}

	#committers > a {
		margin:0.5em;
		display: block;
	}

	.committer {
		display: block;
		margin-top:0.05em;
		clear:both;
		float:none;
	}

	#committers + div > * {
		display: block;
		padding:0.5em;
		width: 280px;
		margin: 0 auto !important;
		text-align:center;
	}
}
